$color-white: #fff;
$color-light: #eee;
$color-red: red;
$background-default: #36D1DC;
$background-secondary: #5B86E5;
$background-gradient: linear-gradient(to top, $background-default, $background-secondary);
